.container{
    margin-bottom: 65px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px ;
}
.prize{
    color:#FF136F ;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 10%,#FF136F 90%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}